*.dll
*.stackdump
*.exe
*.o
*.suo
*.manifest
*.pdb
*.opensdf
*.sdf
*.vcxproj.user
*.obj
*.tlog
*.baml
*.xml
*.sdf
*.cache

bin
obj
dsp
Debug
Release
regisPlugins
/regis/TraceAndTestImpact.testsettings
/regis/regis.vsmdi

/regis/Local.testsettings
/regis/RealtimeServices.png
/regis/Regis.Plugins.Test/Controls/TestScrollingScale.cs
/regis/Regis.Plugins.Test/Properties/AssemblyInfo.cs
/regis/Regis.Plugins.Test/Regis.Plugins.Test.csproj
/regis/regis/Images/Thumbs.db
